ul {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  font-family: arial,sans-serif;}

li {float: right;}  
    li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family:arial,sans-serif;}
    li a:hover {background-color: rgb(20, 66, 81);}

h2{
  font-size:40px;
  font-style: italic;
  text-align: center;
  font-family:arial,sans-serif;"}



